// maincolor
$mainColor-lnbBg: #B63568;  //lnb
$mainColor-lnbLine: #CC4F81;  //lnb
$mainColor-th: #FFEFF8;    //table
$mainColor-light: #F2D0D9;    //login
$mainColor-mid: #B84271;      //head,lnb
$mainColor-middark: #B32A5A;  //login,lnb
$mainColor-dark: #842048;     //breadCrumb,checkbox

/* jqGrid table custom */
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{border-top-right-radius: 0;}
  
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{border-top-left-radius: 0;}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{border-bottom-right-radius: 0;}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{border-bottom-left-radius: 0;}

.ui-widget.ui-widget-content{border: 0;}
.ui-widget-content{border-left: 0;}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, 
.ui-button, html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active{border: 0;}

.ui-th-column-header.ui-th-ltr[colspan]{border-bottom: 1px solid #ddd;}

.ui-jqgrid .ui-jqgrid-htable th div{overflow: inherit; height: auto;}

// 가로스크롤 자동생성필요!
// .ui-jqgrid .ui-jqgrid-bdiv{overflow: hidden;}
.ui-jqgrid .ui-jqgrid-bdiv{overflow-x: hidden;}

.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column{white-space: normal; overflow: inherit;}


#wrap{
    &.blueTheme{
        .ui-state-highlight, 
        .ui-widget-content .ui-state-highlight, 
        .ui-widget-header .ui-state-highlight{color: #345284;}
    }

    &.purpleTheme{
        .ui-state-highlight, 
        .ui-widget-content .ui-state-highlight, 
        .ui-widget-header .ui-state-highlight{color: #4E3484;}
    }
}

/* 데이터 클릭 시 tr active 되는 부분 */
.ui-state-highlight, 
.ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight{border: 0; border-right: 1px solid #ddd; border-color: #ddd; background: #f4f4f4;
    td{color: $mainColor-middark !important; border-top: 1px solid #ddd;
        &.jqTitle{color: #454545; font-weight: normal !important;}
    }
    .ui-state-default, .ui-widget-content .ui-state-default{color: inherit; background: inherit;}
}
/* ---- */

/* jqGrid checkbox */
.ui-jqgrid input[type="checkbox"]{cursor: pointer;
    &:after{content: ''; display: flex; width: 20px; height: 20px; border: 1px solid #ccc;
    border-radius: 4px; background-color: #fff;}
}
/* jqGrid checkbox:checked:th,td */
input[type="checkbox"].cbox:checked,
.ui-widget-content.ui-state-highlight input[type="checkbox"]::after{
    background: $mainColor-dark url("../images/ico/common/ico-checkbox-fill.png") no-repeat center center;border-radius: 4px;
}
input[type="checkbox"].cbox:checked:after{background: transparent;border:0}
/* jqGrid th,td checkbox 위치 설정 */
thead tr th[role="columnheader"] div > .cbox ,
tbody tr td[role="gridcell"] > .cbox{left: 50%; top: 50%; transform: translate(-50%,-50%); margin: 0;}

/* jqGrid th 체크박스 감싸는 div에 height 100%를 줘서 영역확장 */
.jqChkbox{height: 100% !important;}

.ui-th-ltr{
    &[colspan]{height: 30px !important;}
}
// resize 시 헤더틀어지는 이슈로 인한 리셋값
.ui-jqgrid .ui-jqgrid-htable th, .ui-jqgrid tr.jqgrow td{
    padding: 0 !important;
}